
/* Your CSS Code here. */
.holder{
	height: 200px;
	display: grid;
	grid-template-areas: 
		"row1 row2"
	    "row3 row4";
	grid-template-columns: repeat(2, 100px);
	grid-template-rows: repeat(2, 100px);
	
}
.item-1{
	grid-area: row1;
}
.item-2{
	grid-area: row2;
}
.item-3{
	grid-area: row3;
	
}
.item-4{
	grid-area: row4;

}